$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-600: #6c757d !default;
$black:    #000 !default;

$border-width:                1px !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$country-select-color:                  null !default;
$country-select-bg:                     $white !default;
$country-select-border-color:           rgba($black, .125) !default;
$country-select-border-width:           $border-width !default;
$country-select-border-radius:          $border-radius !default;

$country-select-item-padding-y:         .75rem !default;
$country-select-item-padding-x:         1.25rem !default;

$country-select-hover-bg:               $gray-100 !default;
$country-select-active-color:           $component-active-color !default;
$country-select-active-bg:              $component-active-bg !default;
$country-select-active-border-color:    $country-select-active-bg !default;

$country-select-disabled-color:         $gray-600 !default;
$country-select-disabled-bg:            $country-select-bg !default;
