$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;

$input-group-flag-min-width: 2.75em;

$border-width: 1px;
$border: $border-width solid rgba(0, 0, 0, 0.125);
$border-radius: 4px;

$list-item-padding: 0.75rem 1.25rem;
