.list-item {

  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-width: 0 0 1px;
  color: #212529;

  &.active, &:hover {

    background-color: #f8f9fa;

  }

  .flag {

    margin-right: 1em;
    vertical-align: baseline;

  }

}
